{% extends "admin/layout.njk" %}

{% block head %}

    <title>Receitas - FoodFy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}
    
        <h4>Gerenciar Receitas</h4>
        
        <a href="/admin/recipes/create" class='btn-newRecipe'>Inserir</a>
        
    <section>
        <div class="recipes__modal">

        {% for recipe in item %}
            <div class="recipes__one" id="{{recipe.image}}">
                <img src="{{recipe.image}}" alt="" class="img__most_accessed">
                    <div>
                        <h5 class="name__recipe">{{recipe.title}}</h5>
                        <p class="author__recipe">por {{recipe.author}}</p>
                        <a href="/admin/recipes/{{recipe.id}}" id='{{recipe.id}}' class='btn-see'>editar</a>
                        
                    </div>
            </div>
        {% endfor %}

        </div>
    </section>

{% endblock %}